# The .env.example file contains sample .env variables
# replace the values with yours

DB_NAME=quizbit
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=db
DB_PORT=5432

E_PORT=587
E_HOST_USER=your-email@example.com
E_HOST_PASSWORD=your-password

DJANGO_Scrt_KEY=generate-the-key-using-django-tool