# The .env.example file contains sample .env variables
# replace the values with yours

DB_NAME=quizbit
DB_USER=postgres
DB_PASSWORD=yourpassword
DB_HOST=localhost           # "DB_HOST=localhost" for running locally and for docker "DB_HOST=db"
DB_PORT=5432

REDIS_HOST=localhost       # "REDIS_HOST=localhost" for running locally and for docker "REDIS_HOST=redis-service"
REDIS_PORT=6379

E_PORT=587                # Needed for OTP service
E_HOST_USER=your-email@example.com
E_HOST_PASSWORD=your-password

DJANGO_Scrt_KEY=generate-the-key-using-django-tool